<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.finance.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" android:required="true"/>

    <application
        android:name="motobeans.architecture.application.ArchitectureApp"
        android:allowBackup="false"
        android:fullBackupOnly="false"
        android:hardwareAccelerated="false"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:targetApi="lollipop">
        <activity
            android:name=".view.activity.LoanApplicationActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.ForgetPasswordActivity"/>
        <activity android:name=".view.activity.OtpVerifyActivity"/>
        <activity android:name=".view.activity.ResetPasswordActivity"/>
        <activity
            android:name=".view.activity.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.AddLeadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.UploadedFormDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.AssignedLeadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.AddTaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.SplashScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.LeadDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.UpdateCallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.TaskDetailActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>